html {
    padding: 4rem;
}
h1 {
    font-family: 'Satisfy', cursive;
}
.font1 {
    font-family: 'Zen Loop', cursive;
}
.font2 {
    font-family: 'Smokum', cursive;
}
.font3 {
    font-family: 'Tapestry', cursive;
}
.font4 {
    font-family: 'Righteous', cursive;
}
.font5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.font6 {
    font-family: 'Satisfy', cursive;
}
.font7 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.font8 {
    font-family: 'Permanent Marker', cursive;
}
.font9 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.font10 {
    font-family: 'Lobster', cursive;
    font-family: 'Oleo Script', cursive;
     
}
.font11 {
    font-family: 'Indie Flower', cursive;
}
.font12 {
    font-family: 'Shadows Into Light', cursive;
}
.font14 {
    font-family: 'Oleo Script', cursive;
}
.font15 {
    font-family: 'Koulen', cursive;
}
.font16 {
    font-family: 'Roboto Mono', monospace;
}
.font17 {
    font-family: 'Oleo Script Swash Caps', cursive;
}
.font18 {
    font-family: 'Zen Loop', cursive;
}
.font19 { font-family: 'Water Brush', cursive;

}